<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media screen and (max-width: 1400px) {
   .wp-container-core-group-layout-6.wp-container-core-group-layout-6 > .alignwide { 
        display: flex;
        flex-direction: column;
    }
	.wp-container-core-group-layout-6.wp-container-core-group-layout-6 > .alignwide {
     max-width: 100%; 
	}
}
@media screen and (max-width: 1000px) {
.wp-container-core-group-layout-17.wp-container-core-group-layout-17.wp-container-core-group-layout-17.wp-container-core-group-layout-17 > * + * { 
		display: flex;
        flex-direction: column;
	}
}</style>
<!-- end Simple Custom CSS and JS -->
